# Default ignored files
/shelf/
# Datasource local storage ignored files
/../../../../../../:\Users\Ayush\IdeaProjects\USACO-Problems-Training\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/